@import 'tailwindcss';
@plugin "daisyui" {
	themes: coffee;
}

@font-face {
	font-family: 'PixelBold';
	src: url('/fonts/PixeloidSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-display: swap;
}
